 @import './global.css';


 body {
     background-color: #09212C;
 }

 .bg__img {
     position: absolute;
     z-index: -1;
     left: 29%;
 }

.main__container{
    position: absolute;
    z-index: 1;
    left: 5%;
}
 .explore {
     width: 724px;
     height: 518px;
     border-radius: 24px;
     padding-top: 80px;
     backdrop-filter: blur(15px);

 }

 .explore__title {
     font-size: 6.4rem;
     font-weight: 800;
     line-height: 72px;
     text-align: left;
     position: relative;
     text-wrap: wrap;

 }

 .explore__title::before {
     content: url(../images/color-blocks.png);
     position: absolute;
     top: -60px;
 }

 .explore__disc {
     margin-top: 70px;
     margin-bottom: 50px;
     font-size: 2.5rem;
     font-weight: 400;
     line-height: 35.52px;
     text-align: left;

 }

 .exp__button {
     background: rgba(99, 225, 225, 1);
     box-shadow: 0px 0px 20px 0px rgba(99, 225, 225, 0.25);
     width: 182px;
     height: 66px;
     padding: 24px 48px 24px 48px;
     gap: 10px;
     border-radius: 36px;
     font-size: 2.4rem;
     font-weight: 400;
     line-height: 18px;
     text-align: left;
     color: rgba(0, 0, 0, 1);


 }

 .bottom__cards {
     display: flex;
     justify-content: space-around;
     background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
     backdrop-filter: blur(5px);
     max-width: 80%;
     padding: 34px 56px 44px 56px;
     border: 1px solid;
     margin-top: 200px;
     position: relative;
     border-radius: 32px;

 }

 @media screen and (max-width:1200px) {

     .bottom__cards {
         flex-direction: column;
         backdrop-filter: blur(1px);
         width: 80%;
         
         gap: 20%;
     }
 }

 .bottom__card {
     width: 231px;
     height: 100px;
     gap: 8px;
     padding-top: 20px;
    
 }

 .bottom__card--title {

     font-size: 2.4rem;
     font-weight: 800;
     line-height: 32.78px;
     text-align: left;
     position: relative;
     margin-bottom: 10px;

 }

 .bottom__card--title::before {
     content: url(../images/card__icon.svg);
     width: 22px;
     height: 17px;
     position: absolute;
     top: -30px;
 }

 .bottom__card--disc {
     max-width:20vw;
     font-size: 1.6rem;
     font-weight: 400;
     line-height: 24.59px;
     text-align: left;
     /* text-wrap: wrap; */
 }